@charset "UTF-8";
/*-----------------------ALL----------------------*/


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #121212;
}

/* Контейнер для меню */
#language-menu-container {
  position: relative;
}
#save-button{
  background-color: #262626;
  color: #ffffff;
  border-radius: 10px;
}
/* Стили для всплывающего меню */
.language-menu {
  display: none;  /* Меню скрыто по умолчанию */
  position: absolute;
  top: 50px;  /* Позиция меню под кнопкой */
  background-color: #f1f1f1;
  padding: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 5px;
}

/* Размещение кнопок внутри меню */
.language-menu button {
  margin: 5px 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #272727;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(247, 255, 1, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


.menu-button {
  background-color: #272727;
  border: none;
  padding: 0;
  cursor: pointer;
}

input {
  color: black;
}


body {
  background-color: #e2dddd;
}

a {
  -webkit-transition: 0.15s color;
  transition: 0.15s color;
}

.superContainer {
  overflow: hidden;
}

/*----------------------HEADER----------------------*/
header {
  position: relative;
  width: 100%;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #262626;
  height: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.big_name {
  font-size: 56px;
  color:rgb(250, 242, 242);
}
label{
  color:rgb(255, 255, 255);
}

.menuBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 76%;
  font-size: 16px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
}

.hamburger-menu {
  display: none;
  width: 70%;
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: absolute;
  top: 44px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 12;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #121212;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color:rgb(242, 241, 241);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #cfd8dc;
  color: black;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
  left: auto;
}

/**/
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.items_head {
  z-index: 5;
  margin: auto;
  width: 100%;
  background-color:  #262626;
}

.items_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  color:rgb(244, 237, 237);
}

#wrapForm {
  background-color:  #e2e3e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

form ul {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}


form ul li input {
  background-color:#ffffff;
  height: 50px;
  border: none;
  border-radius: 10px;
}

form ul li input:focus-visible {
  outline-color:rgb(4, 2, 2);
  outline-style: solid;
}

form ul li input[type="text"] {
  padding-left: 10px;
}

form ul li input[type="password"] {
  padding-left: 10px;
}

form ul li label {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  background-color: #262626;
  height: 50px;
  border-radius: 10px;
}

form ul li #butt {
  background-color: #262626;
  height: 50px;
  border: none;
  border-radius: 10px;
  -webkit-transition: 0.15s color;
  transition: 0.15s color;
}


form ul li #login-button {
  background-color: #262626;
  height: 50px;
  border: none;
  border-radius: 10px;
  -webkit-transition: 0.15s color;
  transition: 0.15s color;
}

/*-----------------FOOTER-----------------------------*/


.content {
  position: relative;
  background-color:#1c1a1a;
  display: flex;
  width: 100%;
  height: 280px;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.logo-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 240px;
  transition: 0.6s;
}
.logo-footer img {
  width: 100px;
  height: 100px;
}

.logo-up {
  width: 100px;
  height: 100px;
  transition: 0.6s;
}
.logo-up img {
  width: 90%;
  height: 90%;
}

.logo-up:hover {
  transform: scale(1.2);
}

.soc-media {
  display: flex;
  justify-content: right;
}

.soc-net img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  transition: 0.6s;
}

.soc-net:hover img {
  transform: scale(1.2);
}

.footer-description {
  transition: 0.6s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.company-info {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 100%;
  transition: 0.6s;
  line-height: 1.5;
  font-size: 20px;
  color:#fff;
}
.company-info p {
  height: 30%;
  text-align: center;
  margin-top: -10px;

}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 100%;
  transition: 0.6s;
  color: #fff;
  font-size: 20px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 200px;
  font-weight: bold;
  transition: 0.6s;
}




/*--------------------------------------------*/
@media (max-width: 2566px) {
  header .wrap .big_name {
    font-size: 60px;
  }
  header .wrap ul li {
    font-size: 32px;
  }
  .items_name {
    font-size: 36px;
  }
  footer {
    font-size: 32px;
  }
}

@media (max-width: 1926px) {
  header .wrap .big_name {
    font-size: 60px;
  }
  header .wrap ul li {
    font-size: 22px;
  }
  
}

@media (max-width: 1441px) {
  header .wrap .big_name {
    font-size: 40px;
  }
  header .wrap ul li {
    font-size: 18px;
  }
  .items_name {
    font-size: 30px;
  }
  
}

@media (max-width: 769px) {
  .menuBlock {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  label {
    font-size: 14px;
  }
  button {
    font-size: 14px;
  }
  .animate-logo {
    margin-top: 35px;
  }
  .contacts{
  font-size: 15px;
}
.company-info{
  font-size: 16px;
  margin: 20px;
margin-top: 15px;
}
.soc-media img{
width: 30px;
height: 30px;
}
.logo-up img{
  width: 70px;
height: 70px;
}
  
}

@media (max-width: 426px) {
  header .wrap .big_name {
    font-size: 30px;
  }
  .items_name {
    font-size: 20px;
  }
  label {
    font-size: 15px;
  }
  button {
    font-size: 15px;}
  }
  @media (max-width: 769px) {
    .menuBlock {
      display: none;
    }
    .hamburger-menu {
      display: block;
    }
    .row {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .row .item {
      width: 50%;
      margin-bottom: 30px;
    }
    .aboutText {
      margin: 20px 50px;
    }
    .aboutText p {
      font-size: 20px;
      line-height: 40px;
    }
    .animate-logo {
      margin-top: 35px;
    }
  .contacts{
    font-size: 12px;
  }
  .company-info{
    font-size: 12px;
    margin: 20px;
  }
  .soc-media img{
  width: 30px;
  height: 30px;
  }
  .logo-up img{
    width: 50px;
  height: 60px;
  }
  
  form ul li #butt{
    width: 150px;
  }
  form ul li label{
    width: 150px;
  }
  form ul{
    width: 150px;
    color: antiquewhite;
  }
} 
/*# sourceMappingURL=sign.css.map */